html, body {
  -moz-user-select: none; /* Empêcher la sélection de texte sur Firefox */
  -webkit-user-select: none; /* Empêcher la sélection de texte sur Chrome et Safari */
  -ms-user-select: none; /* Empêcher la sélection de texte sur IE */
  user-select: none; /* Empêcher la sélection de texte sur les navigateurs modernes */
  background-color: #fefefe;
  color: black;
  height: 100%;
  margin: 0;
  scrollbar-color: #454a4d #202324;
  background-color: #121212;
}

.h-360 {
  height: 360px;
}

#header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #171717;
  box-shadow: rgb(42, 45, 47) 0px 0px 0px 1px;
  padding: 5px;
  padding-bottom: 5px;
}

.brand-text {
  display: flex;
  justify-content: space-between;
  font-family: Merriweather,'Open Sans',sans-serif;
  font-size: 30px;
  margin: 0 0 0 8px;
  text-align: center;
  text-shadow: none;
  color: rgb(171, 164, 153);
  height: 40px;
  width: 120%;
}
.brand-logo {
  content: url("../assets/logo.svg");
  display: block;
  width: 50px;
  margin-left: 10px;
}
.brand-text::after {
  content: "";
  height: 2px;
  width: max-content;
  background-color: #606060;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: fit-content;
}

.board {
  display: inline-block;
}

.row {
  display: flex;
}

.cell {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.top-area-center {
  background-color: #c6c6c6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.border-hor {
  height: 27.5px;
  width: 100%;
  background-image: url('../assets/UI/border_hor.png');
  background-size: 100% 100%;
}
.border-vert {
  width: 30px;
  background-image: url('../assets/UI/border_vert.png');
  background-size: 100% 100%;
}
.t-left {
  min-width: 30px;
  min-height: 27.5px;
  background-image: url('../assets/UI/t_left.png');
  background-size: 100% 100%;
}
.t-right {
  min-width: 30px;
  min-height: 27.5px;
  background-image: url('../assets/UI/t_right.png');
  background-size: 100% 100%;
}
.corner-bottom-left {
  min-width: 30px;
  height: 27.5px;
  background-image: url('../assets/UI/corner_bottom_left.png');
  background-size: 100% 100%;
}
.corner-bottom-right {
  min-width: 30px;
  height: 27.5px;
  background-image: url('../assets/UI/corner_bottom_right.png');
  background-size: 100% 100%;
}
.corner-up-left {
  min-width: 30px;
  height: 27.5px;
  background-image: url('../assets/UI/corner_up_left.png');
  background-size: 100% 100%;
}
.corner-up-right {
  min-width: 30px;
  height: 27.5px;
  background-image: url('../assets/UI/corner_up_right.png');
  background-size: 100% 100%;
}

.numbers-panel {
  background-image: url('../assets/UI/nums_background.svg');
  background-repeat: round;
  width: 102.5px;
  height: 62.5px;
  display: flex;
}

.game-status {
  width: 65px;
  height: 65px;
}

.game-playing {
  content: url('../assets/UI/face_unpressed.svg');
}

.game-playing:active, .game-lost:active {
  content: url('../assets/UI/face_pressed.svg');
}

.game-won {
  content: url('../assets/UI/face_win.svg');
}

.game-lost {
  content: url('../assets/UI/face_lose.svg');
}