.typemine { content: url('../assets/cells/mine.svg'); }
.typegameover { content: url('../assets/cells/mine_red.svg'); }
.type0, .closed:active { content: url('../assets/cells/type0.svg'); }
.type1 { content: url('../assets/cells/type1.svg'); }
.type2 { content: url('../assets/cells/type2.svg'); }
.type3 { content: url('../assets/cells/type3.svg'); }
.type4 { content: url('../assets/cells/type4.svg'); }
.type5 { content: url('../assets/cells/type5.svg'); }
.type6 { content: url('../assets/cells/type6.svg'); }
.type7 { content: url('../assets/cells/type7.svg'); }
.type8 { content: url('../assets/cells/type8.svg'); }
.closed {content: url('../assets/cells/closed.svg'); }
.flagged {content: url('../assets/cells/flag.svg'); }
.minewrong { content: url('../assets/cells/mine_wrong.svg'); }